@model PaginatedList<EverCareCommunity.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>Address</h1>

<p>
    <a asp-action="Create" class="btn-action">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Street: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index" class="btn-action">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Street
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">City</a>
            </th>
            <th>
                ZipCode
            </th>
            <th>
                Relationship
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                ElderlyResident
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ElderlyResident.FirstName)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ResidentID" class="btn-table edit">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ResidentID" class="btn-table details">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ResidentID" class="btn-table delete">Delete</a>
                </td>

        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>